
body>img {
	display:none;
}

h1{
	text-align: center;
}
#gameSection{
	margin: auto;
}

.centerPageContainer{
	display: flex;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
button {
	padding: 0
}