h1 {
	text-align: center;
}

button {
	padding: 0;
}
/* https://coolors.co/96bbbb-618985-414535-f2e3bc-c19875 */
:root {
	font-size: 16px;
	--color1: #96bbbb; /* Light grey/green */
	--color2: #618985; /* Steel green */
	--color3: #414535; /* Dark Grey */
	--color4: #f2e3bc; /* Light yellow */
	--color5: #c19875; /* Light brown */
}
