#gameSection {
	overflow:scroll;
	border: 2px solid black;
	height: 500px;
	width:800px;
	white-space:nowrap;
}

#canvasHolder{
	border: 1px solid green;
}

body>img {
	display:none;
}

.clickableHexagon{
	/* float: left; */
	display: inline-block;
	position:relative;
	/* overflow: hidden; */
}